@{
    const int ROW = 3;
    const int COL = 4;
    ViewData["title"] = "Graduate";
    StamfordDBContext? context = ViewData["context"] as StamfordDBContext;
    if (context == null) throw new ArgumentNullException("Context is null");

    int pageNum = (int)ViewData["pageNum"];
}

<section class="special_cource padding_top">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-5">
                <div class="section_tittle text-center">
                    <h2>Our Graduates</h2>
                </div>
            </div>
        </div>
        @{
            List<Graduate[]> graduates = context.Graduates.Skip(pageNum * ROW * COL)
                                                            .Take(ROW * COL)
                                                            .ToArray()
                                                            .Chunk(COL)
                                                            .ToList();

            for (int i = 0; i < graduates.Count; i++)
            {
                <div class="row mb-5">
                    @{
                        for (int j = 0; j < graduates[i].Length; j++)
                        {
                            Asset asset = context.Assets.First(asset => asset.Id == graduates[i][j].ImageId);
                            Course course = context.Courses.First(course => course.Id == graduates[i][j].CourseId);
                            <div class="col-sm-6 col-lg-3">
                                <div class="single_special_cource">
                                    <img src="@asset.Url" class="special_img" alt="">
                                    <div class="special_cource_text">
                                        @* Add link to course details *@
                                        <a asp-controller="Course" asp-action="Course" asp-route-courseId="@course.Id" class="btn_4">@course.Name</a>

                                        <h3>@graduates[i][j].FullName</h3>
                                        <p>@graduates[i][j].Desc</p>
                                    </div>

                                </div>
                            </div>
                        }
                    }
                </div>
            }
        }

        <nav class="blog-pagination justify-content-center d-flex mb-5">
            <ul class="pagination">
                <li class="page-item @(pageNum == 0 ? "disabled" : "")">
                    <a asp-controller="Graduate" asp-action="Index" asp-route-pageNum="@(pageNum - 1)"
                        class="disabled page-link" aria-label="Previous">
                        <i class="ti-angle-left"></i>
                    </a>
                </li>
                @{
                    int postCount = context.Graduates.Count();
                    int count = (postCount % (ROW * COL)) > 1 ? (postCount / (ROW * COL)) + 1 : postCount / (ROW * COL);
                    for (int i = 0; i < count; i++)
                    {
                        <li class="page-item @(pageNum == i ? "active" : "")">
                            <a asp-controller="Graduate" asp-action="Index" asp-route-pageNum="@i" class="page-link">@(i + 1)</a>
                        </li>
                    }
                }
                <li class="page-item @(pageNum == count - 1 ? "disabled" : "")">
                    <a asp-controller="Graduate" asp-action="Index" asp-route-pageNum="@(pageNum + 1)" class="page-link"
                        aria-label="Next">
                        <i class="ti-angle-right"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</section>
