@{
    const int ROW = 3;
    const int COL = 4;
    ViewData["title"] = "Graduate";
    StamfordDBContext? context = ViewData["context"] as StamfordDBContext;
    if (context == null) throw new ArgumentNullException("Context is null");

    int pageNum = (int)ViewData["pageNum"];
    Stopwatch watch = new Stopwatch();
}

<section class="special_cource padding_top">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-5">
                <div class="section_tittle text-center">
                    <h2>Our Graduates</h2>
                </div>
            </div>
        </div>
        @{
            watch.Start();
            List<Graduate> graduates = context.Graduates
                .Include(graduate => graduate.Image)
                .Include(graduate => graduate.Course)
                .Skip(pageNum * ROW * COL)
                .Take(ROW * COL)
                .ToList();

            for (int i = 0; i < ROW; i++)
            {
                int colNum = graduates.Count - (ROW * (i + 1)) >= 0 ? COL : graduates.Count - (ROW * (i + 1));
                if (colNum < 0) break;

                <div class="row mb-5">
                    @{
                        for (int j = 0; j < colNum; j++)
                        {
                            int index = (COL * i) + j;
                            <div class="col-sm-6 col-lg-3">
                                <div class="single_special_cource">
                                    <img src="@graduates[index].Image.Url" class="special_img" alt="">
                                    <div class="special_cource_text">
                                        @* Add link to course details *@
                                        <a asp-controller="Course" asp-action="Course" asp-route-courseId="@graduates[index].Course.Id" class="btn_4">@graduates[index].Course.Name</a>

                                        <h3>@graduates[index].FullName</h3>
                                        <p>@graduates[index].Desc</p>
                                    </div>

                                </div>
                            </div>
                        }
                    }
                </div>
            }

            watch.Stop();
            Console.WriteLine(watch.ElapsedMilliseconds);
        }

        <nav class="blog-pagination justify-content-center d-flex mb-5">
            <ul class="pagination">
                <li class="page-item @(pageNum == 0 ? "disabled" : "")">
                    <a asp-controller="Graduate" asp-action="Index" asp-route-pageNum="@(pageNum - 1)"
                        class="disabled page-link" aria-label="Previous">
                        <i class="ti-angle-left"></i>
                    </a>
                </li>
                @{
                    int postCount = context.Graduates.Count();
                    int count = (postCount % (ROW * COL)) > 1 ? (postCount / (ROW * COL)) + 1 : postCount / (ROW * COL);
                    for (int i = 0; i < count; i++)
                    {
                        <li class="page-item @(pageNum == i ? "active" : "")">
                            <a asp-controller="Graduate" asp-action="Index" asp-route-pageNum="@i" class="page-link">@(i + 1)</a>
                        </li>
                    }
                }
                <li class="page-item @(pageNum == count - 1 ? "disabled" : "")">
                    <a asp-controller="Graduate" asp-action="Index" asp-route-pageNum="@(pageNum + 1)" class="page-link"
                        aria-label="Next">
                        <i class="ti-angle-right"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</section>
