@{
    const int ROW = 3;
    const int COL = 3;
    ViewData["title"] = "Graduate";
    StamfordDBContext? context = ViewData["context"] as StamfordDBContext;
    if (context == null) throw new ArgumentNullException("Context is null");

    int pageNum = (int)ViewData["pageNum"];
}


<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner text-center">
                    <div class="breadcrumb_iner_item">
                        <h2>Our Courses</h2>
                        <p>Home<span>/</span>Courses</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="special_cource padding_top">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-5">
                <div class="section_tittle text-center">
                    <h2>Our Courses</h2>
                </div>
            </div>
        </div>
        @{
            List<Course[]> courses = context.Courses.Skip(pageNum * ROW * COL).Take(ROW * COL).ToArray().Chunk(COL).ToList();
            for (int i = 0; i < courses.Count; i++)
            {
                <div class="row mb-5">
                    @{
                        for (int j = 0; j < courses[i].Length; j++)
                        {
                            Asset asset = context.Assets.First(asset => asset.Id == courses[i][j].ImageId);
                            <div class="col-sm-6 col-lg-4">
                                <div class="single_special_cource">
                                    <img src="@asset.Url" class="special_img" alt="">
                                    <div class="special_cource_text">
                                        @* Add link to course details *@
                                        <a asp-controller="Course" asp-action="Course" asp-route-courseId="@courses[i][j].Id" class="btn_4">@courses[i][j].Name</a>
                                        <h4>$@courses[i][j].Price</h4>

                                        <h3>@courses[i][j].Name</h3>
                                        <p>@courses[i][j].Desc</p>
                                    </div>

                                </div>
                            </div>
                        }
                    }
                </div>
            }
        }

        <nav class="blog-pagination justify-content-center d-flex mb-5">
            <ul class="pagination">
                <li class="page-item @(pageNum == 0 ? "disabled" : "")">
                    <a asp-controller="Graduate" asp-action="Index" asp-route-pageNum="@(pageNum - 1)"
                        class="disabled page-link" aria-label="Previous">
                        <i class="ti-angle-left"></i>
                    </a>
                </li>
                @{
                    int postCount = context.Courses.Count();
                    int count = (postCount % (ROW * COL)) > 1 ? (postCount / (ROW * COL)) + 1 : postCount / (ROW * COL);
                    for (int i = 0; i < count; i++)
                    {
                        <li class="page-item @(pageNum == i ? "active" : "")">
                            <a asp-controller="Graduate" asp-action="Index" asp-route-pageNum="@i" class="page-link">@(i + 1)</a>
                        </li>
                    }
                }
                <li class="page-item @(pageNum == count - 1 ? "disabled" : "")">
                    <a asp-controller="Graduate" asp-action="Index" asp-route-pageNum="@(pageNum + 1)" class="page-link"
                        aria-label="Next">
                        <i class="ti-angle-right"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</section>