@model List<Post>
@{
    ViewData["title"] = "Home Page";

    int pageNum = (int)ViewData["pageNum"];
    int POST_NUM = (int)ViewData["POST_NUM"];
    int pageCount = (int)ViewData["pageCount"];
}

<!-- banner part start-->
<section class="banner_part">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-xl-6">
                <div class="banner_text">
                    <div class="banner_text_iner">
                        <h5>Every child yearns to learn</h5>
                        <h1>Making Your Childs
                            World Better</h1>
                        <p>Replenish seasons may male hath fruit beast were seas saw you arrie said man beast whales
                            his void unto last session for bite. Set have great you'll male grass yielding yielding
                            man</p>
                        <a asp-controller="Course" asp-action="Index" class="btn_1">View Course </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- banner part start-->

<section class="blog_area section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mb-5 mb-lg-0">
                <div class="blog_left_sidebar">
                    @{

                        foreach (Post post in Model)
                        {
                            <article class="blog_item">
                                <div class="blog_item_img">
                                    <div id="post@(post.Id)" class="carousel slide card-img" data-ride="carousel">
                                        <div class="carousel-inner">
                                            @{

                                                foreach (PostAsset asset in post.PostAssets)
                                                {
                                                    <div class="carousel-item @(post.PostAssets.First().Id == asset.Id ? "active" : "" )">

                                                        @{
                                                            if (System.IO.Path.GetExtension(asset.Image.Url) == "mp4")
                                                            {
                                                                <video src="@asset.Image.Url" class="d-block w-100" controls></video>
                                                            }
                                                            else
                                                            {
                                                                <img src="@asset.Image.Url" class="d-block w-100" alt="...">
                                                            }
                                                        }

                                                    </div>
                                                }
                                            }
                                        </div>
                                        @{
                                            if (post.PostAssets.Count() > 1)
                                            {
                                                <a class="carousel-control-prev" href="#post@(post.Id)" role="button" data-slide="prev">
                                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                    <span class="sr-only">Previous</span>
                                                </a>
                                                <a class="carousel-control-next" href="#post@(post.Id)" role="button" data-slide="next">
                                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                    <span class="sr-only">Next</span>
                                                </a>
                                            }
                                        }
                                    </div>
                                    <span class="blog_item_date">
                                        <h3>@post.CreatedDate.Day</h3>
                                        <p>@post.CreatedDate.ToString("MMM")</p>
                                    </span>
                                </div>

                                <div class="blog_details">
                                    <a class="d-inline-block" asp-controller="Post" asp-action="Index" asp-route-postId="@post.Id">
                                        <h2>@post.Title</h2>
                                    </a>
                                    <p>@(post.Content.Length < 150 ? post.Content : post.Content.Substring(0, 150) + " ...")</p>
                                </div>
                            </article>
                        }

                    }

                    <nav class="blog-pagination justify-content-center d-flex">
                        <ul class="pagination">
                            <li class="page-item @(pageNum == 0 ? "disabled" : "")">
                                <a asp-controller="Home" asp-action="Index" asp-route-pageNum="@(pageNum - 1)" class="disabled page-link" aria-label="Previous">
                                    <i class="ti-angle-left"></i>
                                </a>
                            </li>
                            <li class="page-item @(pageNum == pageCount - 1 ? "disabled" : "")">
                                <a asp-controller="Home" asp-action="Index" asp-route-pageNum="@(pageNum + 1)" class="page-link" aria-label="Next">
                                    <i class="ti-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>