@{
  @* string? adminjson = TempData["Admin"] as string; *@
  @* Admin? admin = JsonConvert.DeserializeObject<Admin>(adminjson); *@
  string? username = HttpContextAccessor.HttpContext.Session.GetString("username");
  string? url = HttpContextAccessor.HttpContext.Session.GetString("url");
  string dirname = Directory.GetCurrentDirectory();
  var newdir = dirname.Replace("admin","assets\\img\\");
  string? path = newdir + url;
  System.Console.WriteLine(HttpContextAccessor.HttpContext.Response.Headers);
  if (HttpContextAccessor.HttpContext.Session.Keys.Count() < 1)
  {
    HttpContextAccessor.HttpContext.Response.Redirect("Login/Index");
  }
}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Stamford Admin</title>
  <link rel="stylesheet" href="../assets/css/materialdesignicons.min.css" />

  <link rel="stylesheet" href="~/css/vendor.bundle.base.css" />
  <link rel="stylesheet" href="~/css/jquery-jvectormap.css" />
  <link rel="stylesheet" href="~/css/flag-icon.min.css" />
  <link rel="stylesheet" href="~/css/select2.min.css" />
  <link rel="stylesheet" href="~/css/owl.carousel.min.css" />
  <link rel="stylesheet" href="~/css/owl.theme.default.min.css" />
  <link rel="stylesheet" href="~/css/select2-bootstrap.min.css" />
  <link rel="stylesheet" href="~/css/style.css" />
  <link rel="stylesheet" href="~/css/custom.css" />
  <link rel="shortcut icon" href="~/favicon.ico" />
</head>

<body>
  <div class="container-scroller">
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
      <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
        <a class="sidebar-brand brand-logo" asp-controller="Admin" asp-action="Index">Stamford</a>
      </div>
      <ul class="nav">
        <li class="nav-item profile">
          <div class="profile-desc">
            <div class="profile-pic">
              <div class="count-indicator">
                <img class="img-xs rounded-circle " src="@path" />
                <span class="count bg-success"></span>
              </div>
              <div class="profile-name">
                <h5 class="mb-0 font-weight-normal">@username</h5>
              </div>
            </div>
            <a href="#" id="profile-dropdown" data-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
            <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list"
              aria-labelledby="profile-dropdown">
              <a asp-controller="Admin" asp-action="Index" class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-dark rounded-circle">
                    <i class="mdi mdi-settings text-primary"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <p class="preview-subject ellipsis mb-1 text-small">Hesab Dəyişiklikləri</p>
                </div>
              </a>
              <div class="dropdown-divider"></div>
              <a asp-controller="Admin" asp-action="ExchangePassword" class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-dark rounded-circle">
                    <i class="mdi mdi-onepassword  text-info"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <p class="preview-subject ellipsis mb-1 text-small">Şifrəni dəyiş</p>
                </div>
              </a>
            </div>
        </li>
        <li class="nav-item menu-items">
          <a class="nav-link" asp-controller="Admin" asp-action="Index">
            <span class="menu-icon">
              <i class="mdi mdi-speedometer"></i>
            </span>
            <span class="menu-title">Ana Səhifə</span>
          </a>
        </li>

        <li class="nav-item menu-items">
          <a class="nav-link" asp-controller="Exam" asp-action="Index">
            <span class="menu-icon">
              <i class="mdi mdi-table-large"></i>
            </span>
            <span class="menu-title">İmtahan nəticələri</span>
          </a>
        </li>
        <li class="nav-item menu-items">
          <a class="nav-link" asp-controller="Course" asp-action="Index">
            <span class="menu-icon">
              <i class="mdi mdi-chart-bar"></i>
            </span>
            <span class="menu-title">Dərsler</span>
          </a>
        </li>
        <li class="nav-item menu-items">
          <a class="nav-link" asp-controller="Graduate" asp-action="Index">
            <span class="menu-icon">
              <i class="mdi mdi-contacts"></i>
            </span>
            <span class="menu-title">Naliyyətlər Bölməsi</span>
          </a>
        </li>
        <li class="nav-item menu-items">
          <a class="nav-link" asp-controller="Post" asp-action="Index">
            <span class="menu-icon">
              <i class="mdi mdi-playlist-play"></i>
            </span>
            <span class="menu-title">Post Paylaşma</span>
          </a>
        </li>
    </nav>
    <div class="container-fluid page-body-wrapper">
      <nav class="navbar p-0 fixed-top d-flex flex-row">
        <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
          <a class="navbar-brand brand-logo-mini" asp-controller="Admin" asp-action="Index"><img
              src="../assets/img/logo-mini.svg" alt="logo" /></a>
        </div>
        <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-menu"></span>
          </button>
          <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item dropdown">
              <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
                <div class="navbar-profile">
                  <img class="img-xs rounded-circle " src="@path" />
                  <p class="mb-0 d-none d-sm-block navbar-profile-name">@username</p>
                  <i class="mdi mdi-menu-down d-none d-sm-block"></i>
                </div>
              </a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                aria-labelledby="profileDropdown">
                <h6 class="p-3 mb-0">Profile</h6>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-settings text-success"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject mb-1">Settings</p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item" asp-controller="Login" asp-action="Index">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-logout text-danger"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject mb-1">Log out</p>
                  </div>
                </a>

            </li>
          </ul>
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
            data-toggle="offcanvas">
            <span class="mdi mdi-format-line-spacing"></span>
          </button>
        </div>
      </nav>
      <div class="main-panel">
        @RenderBody()
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between ">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Stamford Tedris Merkezi</span>
          </div>
        </footer>
      </div>
    </div>
  </div>
  <script src="~/js/vendor.bundle.base.js"></script>
  <script src="~/js/Chart.min.js"></script>
  <script src="~/js/progressbar.min.js"></script>
  <script src="~/js/jquery-jvectormap.min.js"></script>
  <script src="~/js/jquery-jvectormap-world-mill-en.js"></script>
  <script src="~/js/owl.carousel.min.js"></script>
  <script src="~/js/off-canvas.js"></script>
  <script src="~/js/hoverable-collapse.js"></script>
  <script src="~/js/misc.js"></script>
  <script src="~/js/settings.js"></script>
  <script src="~/js/todolist.js"></script>
  <script src="~/js/dashboard.js"></script>
</body>

</html>